<h1>All the owners!</h1>
<ul>
<% @owners.each do |owner| %>
  <li>
    <h3>
      Name: <%= owner.owner_name %>
    </h3>
    <h4>
      Creator of:
    </h4>
      <ul>
        <%  owner.creations.each do |creation| %>
        <li>
          <a href="/creations/<%= creation.id %>"><%= creation.creation_name %></a>
        </li>
        <% end %>
      </ul>
  </li>

<% end %>
</ul>
<br>

<a href="/creations/new">New Creation!</a>
