<h1><%= @owner.owner_name %> Page</h1>

<h2>My ID is:</h2>
<h3> <%= @owner.id %> </h3>
<br>

<h2>My Creations:</h2>
<h3>list creations here</h3>

<a href="/creations">All Creations!</a>
<br>
<a href="/creations/new">New Creation!</a>
