<h1><%= @owner.owner_name %> Page</h1>

<h2>ID: <%= @owner.id %></h2>
<h2>My Creations:</h2>
<ul>
  <% @owner.creations.each do |creation| %>
  <li>
    <%= creation.creation_name %> - <a href="/creations/<%= creation.id %>">View</a>
  </li>
<% end %>
</ul>

<a href="/creations">All Creations!</a>
<br>
<a href="/creations/new">New Creation!</a>
