<h1>All the creations!</h1>
<ul>
<% @creations.each do |creation| %>
  <li>
    <h3>
      Name:
      <a href="creations/<%= creation.id %>">
        <%= creation.creation_name %>
      </a>
    </h3>
    <h4>
      Owner:
      <a href="owners/<%= creation.owner_id %>">
        <%= creation.owner.owner_name %>
      </a>
    </h4>
  </li>
<% end %>
</ul>
<br>

<a href="/creations/new">New Creation!</a>
<br>
<a href="/owners">All Owners</a>
