<h1>All the creations!</h1>
<ul>
<% @creations.each do |creation| %>
  <li>
    <h3>
      Name: <%= creation.creation_name %>
    </h3>
    <h4>
      Owner: <%= creation.owner_id %>
    </h4>
  </li>
<% end %>
</ul>
<br>

<a href="/creations/new">New Creation!</a>
