<h1>Make a new creation!</h1>

<form action="/creations" method="POST">
  <label>Name:
    <input type="text" name="creation[first-descriptor]" value="">
    <input type="text" name="creation[second-descriptor]" value="">
    <input type="text" name="creation[noun]" value="">
  </label>

  <label>Owner
    <input type="text" name="creation[owner_name]" value="">
  </label>

  <input type="submit">
</form>
