<h1>Make a new creation!</h1>

<form style="display: flex; flex-direction:column" action="/creations" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Descriptor 1:
    <input required type="text" name="creation[first-descriptor]" value="">
  </label>
  <label>Descriptor 2:
    <input required type="text" name="creation[second-descriptor]" value="">
  </label>
  <label>Object:
    <input required type="text" name="creation[noun]" value="">
  </label>

  <label>Owner
    <input required type="text" name="creation[owner_name]" value="">
  </label>

  <input type="submit">
</form>

<h3>
  <a href="/creations">
    Back to all creations
  </a>
</h3>
<h3>
  <a href="/owners">
    Back to all owners
  </a>
</h3>
