<h1><%= @creation.creation_name %> Page</h1>
<h2>ID: <%= @creation.id %></h2>

<h2>My owners name is:</h2>

<h3>
  <a href="/owners/<%= @creation.owner.id %>">
    <%= @creation.owner.owner_name %>
  </a>
</h3>

 <br>

<a href="/creations">All Creations!</a>
<br>
<a href="/creations/new">New Creation!</a>
