<h1><%= @creation.creation_name %> Page</h1>

<h2>My owners id is:</h2>
<h3><%= @creation.owner_id %></h3>

<h2>My ID is:</h2>
<h3> <%= @creation.id %> </h3>
<br>

<a href="/creations">All Creations!</a>
<br>
<a href="/creations/new">New Creation!</a>
